@page "/"

<PageTitle>Home</PageTitle>

<h1>AbeGaming</h1>

<p>This a little toy project to learn Blazor, which will hopefully evolve into one or two helper functions for my gaming friends.</p>
<p>On a smart phone it should be possible to download it as an app with the + button, as it is built with PWA</p>

<h2>Available Tools</h2>
<ul>
    <li><a href="ftpbattle">For The People - Battle Calculator</a> - Calculate battle outcomes for the FTP board game</li>
</ul>

